*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: #1B1924;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

#app{
    width: 320px;
    margin: auto;
    padding: 30px 20px;
}

#section-1 img{
    width: 120px
}

#section-1 h2{
    font-weight: 800;
}

#section-2{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

#section-3 h4{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

.endorsement-text-field{
    height: 100px;
    width: 100%;
    resize: none;
    padding: 10px 15px;
    background-color: #444059;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}

.from-field, .to-field{
    width: 48%;
    padding: 10px 15px;
    background-color: #444059;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.from-field{
    margin-right: 5px;
}

.to-field{
    margin-left: 5px;
}


.publish-button{
    width: 100%;
    background-color: #28A9F1;
    border: none;
    border-radius: 5px;
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
}

.endorsement-list{
    list-style-type: none;
}

.endorsement-list li{
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px;
    margin: 5px auto;
    text-align: justify;
}

.to{
    margin-bottom: 15px;
    font-weight: bold;
}

.from{
    margin-top: 15px;
    font-weight: bold;
}

.from .likes{
    float: right;
    cursor: pointer;
    user-select: none;
}